.search-history .weather-list {
    display: flex;
    justify-content: space-between;
}

.search-history .weather-list .button-list {
    margin: 0 10px;
}

.search-history .weather-list button {
    border-radius: 50%;
    height: 35px;
    cursor: pointer;
}

.search-history .search-history-header {
    display: flex;
    justify-content: space-between;
}