.container {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.container .title {
    font-weight: bold;
}

.weather-content .searchBar-container {
    display: flex;
    padding-right: 10px;
    flex-wrap: wrap;
}

.weather-content .searchBar-container .label-input {
    padding: 0 10px;
}

.weather-content .searchBar-container .button {
    margin: 0 5px;
}